div(class="form")
  h2(class="form__title") Ut enim ad minim veniam
  p(class="form__desc") quis nostrud exercitation ullamco laboris
  form(method="POST")
    input(class="form__input" type="text" name="name" placeholder="Имя")
    input(class="form__input" type="email" name="email" placeholder="E-mail")
    input(class="form__submit" type="submit" value="Отправить")
  div(class="form__divider")
    img(src="img/divider.png" alt="divider")
  h2(class="form__title") Ut enim ad minim veniam
  p(class="form__desc") quis nostrud exercitation ullamco laboris
  p(class="form__number") +7 (8162) 12 34 56
