/* font-family: "InglobalBoldItalic"; */
@font-face {
    font-family: "InglobalBoldItalic";
    src: url("../fonts/InglobalBoldItalic/InglobalBoldItalic.eot");
    src: url("../fonts/InglobalBoldItalic/InglobalBoldItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/InglobalBoldItalic/InglobalBoldItalic.ttf") format("truetype"),
    url("../fonts/InglobalBoldItalic/InglobalBoldItalic.svg") format("svg"),
    url("../fonts/InglobalBoldItalic/InglobalBoldItalic.woff") format("woff"),
    url("../fonts/InglobalBoldItalic/InglobalBoldItalic.woff2") format("woff2"),
    url("../fonts/InglobalBoldItalic/InglobalBoldItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
