div(class="partners")
  div(class="container")
    h2(class="partners__title") Нам доверяют
  div(class="partners__wrapper")
    a(href="#" class="partners__item partners__item--henkel" title="henkel")
      img(src="img/partners/henkel.png" alt="henkel")
    a(href="#" class="partners__item partners__item--jungheinrich" title="jungheinrich")
      img(src="img/partners/jungheinrich.png" alt="jungheinrich")
    a(href="#" class="partners__item partners__item--strabag" title="strabag")
      img(src="img/partners/strabag.png" alt="strabag")
    a(href="#" class="partners__item partners__item--ikea" title="ikea")
      img(src="img/partners/ikea.png" alt="ikea")
    a(href="#" class="partners__item partners__item--pentax" title="pentax")
      img(src="img/partners/pentax.png" alt="pentax")
    a(href="#" class="partners__item partners__item--vamed" title="vamed")
      img(src="img/partners/vamed.png" alt="vamed")
    a(href="#" class="partners__item partners__item--institut" title="goethe institut")
      img(src="img/partners/institut.png" alt="goethe institut")
    a(href="#" class="partners__item partners__item--gazprom" title="gazprom")
      img(src="img/partners/gazprom.png" alt="gazprom")
  div(class="partners__order")
    div(class="partners__inner")
      div(class="partners__logo") Logo
      div(class="partners__desc")
        span Оставь заявку
        span и получи <strong>10% скидку</strong> на любой курс
      div(class="partners__divider")
        img(src="img/divider.png" alt="divider")
      div(class="partners__form")
        form(method="POST")
          input(class="partners__form-input" type="text" name="name" placeholder="Имя")
          input(class="partners__form-input" type="email" name="email" placeholder="E-mail")
          input(class="partners__form-submit" type="submit" value="Отправить")
