div(class="location")
  div(class="container location__container")
    div(class="location__map" id="map")
    div(class="location__item")
      h2(class="location__title") Lorem ipsum dolor sit amet, consectetur
      p(class="location__desc")
        |Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
        |ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
        |voluptate velit esse cillum dolore eu fugiat nulla pariatur.
      ul(class="location__list")
        li
          h5(class="location__subtitle") Адрес
          p(class="location__desc location__desc--address")
            span Великий Новгород
            span ул. Б. Санкт-Петербургская 28, офис 578
        li
          h5(class="location__subtitle") Телефон
          p(class="location__desc") +7 (8162) 12&ndash;34&ndash;56
        li
          h5(class="location__subtitle") E-mail
          a( href="#" class="location__desc location__desc--email" title="example@mail.ru") example@mail.ru
