div(class="service")
  div(class="service__item service__item--leftside")
    h2(class="service__title service__title--leftside") Lorem ipsum dolor sit amet
    p(class="service__desc service__desc--leftside")
      |Ut enim ad minim veniam, quis nostrud exercitation ullamco
      |laboris nisi ut aliquip ex ea commodo consequat. Duis aute
      |irure dolor in reprehenderit in voluptate velit
      |esse cillum dolore eu fugiat nulla pariatur
    ul(class="service__list")
      li(class="service__list-item")
        span(class="service__list-icon service__list-icon--individual service__list-icon--leftside")
          span
        span(class="service__list-desc") Индивидуальные занятия
      li(class="service__list-item")
        span(class="service__list-icon service__list-icon--pair service__list-icon--leftside")
          span
          span
        span(class="service__list-desc") Занятия в паре
      li(class="service__list-item")
        span(class="service__list-icon service__list-icon--mini service__list-icon--leftside")
          span
          span
          span
        span(class="service__list-desc") Занятия в мини-группе
      li(class="service__list-item")
        span(class="service__list-icon service__list-icon--group service__list-icon--leftside")
          span
          span
          span
          span
        span(class="service__list-desc") Занятия в группе
  div(class="service__item service__item--rightside")
    h2(class="service__title service__title--rightside") Lorem ipsum dolor sit amet
    p(class="service__desc service__desc--rightside")
      |Ut enim ad minim veniam, quis nostrud exercitation ullamco
      |laboris nisi ut aliquip ex ea commodo consequat. Duis aute
      |irure dolor in reprehenderit in voluptate velit
      |esse cillum dolore eu fugiat nulla pariatur
    ul(class="service__list")
      li(class="service__list-item")
        span(class="service__list-desc") Индивидуальные занятия
        span(class="service__list-icon service__list-icon--individual service__list-icon--rightside")
          span
      li(class="service__list-item")
        span(class="service__list-desc") Занятия в паре
        span(class="service__list-icon service__list-icon--pair service__list-icon--rightside")
          span
          span
      li(class="service__list-item")
        span(class="service__list-desc") Занятия в мини-группе
        span(class="service__list-icon service__list-icon--mini service__list-icon--rightside")
          span
          span
          span
      li(class="service__list-item")
        span(class="service__list-desc") Занятия в группе
        span(class="service__list-icon service__list-icon--group service__list-icon--rightside")
          span
          span
          span
          span
  div(class="service__order")
    p Позвоните нам и получите<br>
      | <strong>500</strong> рублей в подарок!
    p 7 (8162) 12 34 56
