footer(class="main-footer")
  div(class="container")
    div(class="main-footer__item main-footer__item--copyright")
      p &copy; ОАО &laquo;Badass company&raquo;, 2011&ndash;2015
    div(class="main-footer__item main-footer__item--logo")
      p Logo
    div(class="main-footer__item main-footer__item--created")
      p Разработка и дизайн &ndash; рекламное агентство <a href="#" title="Haloart">Haloart</a>
